doctype html
html
  head
    title='Thomas\'s tools'
    link(
    rel='stylesheet'
    href='/assets/styles/css/bloc.min.css'
    )
  body
    include partials/_header
    block body
    script(
    type='text/javascript'
    src='/assets/js/dist/bloc.ming.js'
    )
    script(
    type='text/javascript'
    src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=AM_HTMLorMML'
    )

